<div>
    <div class="row">

        <div class="col-lg-3">
            <hr>
        </div>
        <div class="col-lg-6">
            <div class="section-header">
                <h2 class="section-title">What We Do</h2>
            </div>
        </div>
        <div class="col-lg-3">
            <hr>
        </div>
    </div>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Tours And Travels</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <img mat-card-image src="assets/images/about-1.jpg" alt="Photo of a Shiba Inu">
                </div>
                <div class="col">
                    <h2><b>Live with no excuses and travel with no regrets</b></h2>
                    <h3 class="text-muted">We think travel can be a much better experience if you are connected to an Agent who is an expert in your destination. Since he is an expert, he can design trips hand crafted just for you and get the best deals on everything you need
                        for your travel be it flights, hotels, cars etc. At Journey we are building technology for both Agents and Travelers which helps them connect and communicate better making travel simple and better. Just say Hi!</h3>
                    <div class="float-right text-muted">
                        <mat-icon style="margin: 3px;"><i class="fab fa-facebook-f"></i></mat-icon>
                        <mat-icon style="margin: 3px;"><i class="fab fa-twitter"></i></mat-icon>
                        <mat-icon style="margin: 3px;"><i class="fab fa-pinterest"></i></mat-icon>

                        <mat-icon style="margin: 3px;"><i class="fab fa-google-plus"></i></mat-icon>

                    </div>
                </div>

            </div>


        </mat-card-content>
    </mat-card>
    <br/>
    <br/>
    <div class="row">

        <div class="col-lg-3">
            <hr>
        </div>
        <div class="col-lg-6">
            <div class="section-header">
                <h2 class="section-title">Who We Are</h2>
            </div>
        </div>
        <div class="col-lg-3">
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <mat-card style="height:440px" class="text-center">
            <div>
                <a href="#"><img src="assets/images/about-4.jpg" alt="img" class="about-box-img"></a>
                <h3 class="about-box-title">THOMAS <span>( Founder )</span></h3>
                <p class="margin-bottom-15 text-muted">A serial entrepreneur since 19, he has started and run multiple successful businesses.
                </p>
                <div class="gray-text">
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card style="height:440px" class="text-center">
            <div>
                <a href="#"><img src="assets/images/about-5.jpg" alt="img" class="about-box-img"></a>
                <h3 class="about-box-title">Keith <span>( Co-Founder )</span></h3>
                <p class="margin-bottom-15 text-muted"> Keith is well known in the startup circles of Bangalore and has been a special invitee at multiple events including the Global Entrepreneurship Summit 2017.
                </p>
                <div class="gray-text">
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
        </mat-card>

    </div>
    <div class="col-md-3">
        <mat-card style="height:440px" class="text-center">
            <div>
                <a href="#"><img src="assets/images/about-6.jpg" alt="img" class="about-box-img"></a>
                <h3 class="about-box-title">JOHN <span>( Manager )</span></h3>
                <p class="margin-bottom-15 text-muted">He has served as the CEO of several companies including Target India, Datamatics, LG, News Corporation (Star TV) and NDS Ltd.
                </p>
                <div class="gray-text">
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
        </mat-card>

    </div>
    <div class="col-md-3">
        <mat-card style="height:440px" class="text-center">
            <div>
                <a href="#"><img src="assets/images/about-7.jpg" alt="img" class="about-box-img"></a>
                <h3 class="about-box-title">SMITH <span>( CTO )</span></h3>
                <p class="margin-bottom-15 text-muted">Being a technology enthusiast at heart, he loves applying tech to solve problems. He is popularly known as the computer guru amongst his peers.

                </p>
                <div class="gray-text">
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-google-plus"></i></a>
                </div>
            </div>
        </mat-card>

    </div>
</div>